<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin-layout}">
<head>
	<title>Admin Login</title>
</head>
<body>
	<main layout:fragment="main" class="py-5">
		<div class="container px-4 px-lg-5 my-5">
			<div th:if="${param.failed}" class="alert alert-danger">
				Invalid username or password.
			</div>
			<div th:if="${param.logout}" class="alert alert-success">
				Logged out!
			</div>
        	<form method="post" th:action="@{/login}">
        	  <div class="form-group">
			    <label for="usernameInput">Username</label>
			    <input 
			    	id="username"
			    	type="text" 
			    	class="form-control" 
			    	placeholder="Username"
			    	name="username">
			  </div>
			  <div class="form-group">
			    <label for="passwordInput">Password</label>
			    <input 
			    	id="password"
			    	type="password" 
			    	class="form-control" 
			    	placeholder="Password"
			    	name="password">
			  </div>
			  <button type="submit" value="Log in" class="btn btn-primary mt-4">Login</button>
			</form>
        </div>
	</main>
</body>
</html>