<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Order Details</title>
</head>
<body>
	<section layout:fragment="body" class="py-5">
		<div class="container px-4 px-lg-5 my-5">
			<div class="container">
				<h1>Order Details</h1>
				<div class="order-info">
					<h2>Order Information</h2>
					<table class="table">
						<tr>
							<th>Order ID:</th>
							<td th:text="${order.id}"></td>
						</tr>
						<tr>
							<th>Order Date:</th>
							<td
								th:text="${#temporals.format(order.orderDate, 'dd-MM-yyyy HH:mm')}"></td>
						</tr>
						<tr>
							<th>Status:</th>
							<td th:text="${order.status}"></td>
						</tr>
						<tr>
							<th>Delivery address:</th>
							<td th:text="${order.address}"></td>
						</tr>
						<tr>
							<th>Payment Method:</th>
							<td th:text="${order.paymentMethod}"></td>
						</tr>
						<tr>
							<th>Total Amount:</th>
							<td th:text="${order.total} + '$'"></td>
						</tr>
					</table>
				</div>

				<div class="order-items">
					<h2>Ordered Items</h2>
					<table class="table">
						<thead>
							<tr>
								<th>Product Name</th>
								<th>Quantity</th>
								<th>Unit Price</th>
								<th>Total Price</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item : ${order.orderItems}">
								<td th:text="${item.product.name}"></td>
								<td th:text="${item.quantity}"></td>
								<td
									th:text="${item.price} + '$'"></td>
								<td
									th:text="${item.totalPrice + '$'}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<a th:href="@{/orders}" class="btn btn-primary">Back to Orders</a>
				<a th:href="@{/orders/delete/} + ${order.id}" class="btn btn-danger">Cancel Order</a>
				<div th:if="${error != null}" class="alert alert-danger">
					Order has been confirmed. Can't cancel.
				</div>
			</div>
		</div>
	</section>
</body>
</html>